<div class="container">
  <div class="mx-auto" style="width: 600px;">
    <nav class="mt-5" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to "Articles", root_path %></li>
        <li class="breadcrumb-item active" aria-current="page"><%= @article.title %></li>
      </ol>
    </nav>
    <h1 class="mt-5"><%= @article.title %></h1>

    <p class="mt-5 p-5 fs-3 border border-secondary rounded-3"><%= @article.body %></p>

    <%= link_to "Edit", edit_article_path(@article), class: "mt-5 btn btn-success btn-lg text-decoration-none text-light" %>
    <%= link_to "Destroy", article_path(@article),
                  method: :delete,
                  data: { confirm: "Are you sure?" },
                  class: "mt-5 ms-3 btn btn-danger btn-lg text-decoration-none text-light" %>

    <hr>
    <h2 class="mt-5">Comments</h2>
    <%= render @article.comments %>

    <h2 class="mt-5">Add a comment:</h2>
    <%= render 'comments/form' %>
  </div>
</div>
